<link rel="stylesheet" href="/css/home.css">

<h1>Track your  Habits</h1>

        <div id="search-div">
            
            <form action="/habits/createHabit" method="post" id="type-form">
                <input type="text" id="custom_meal_id" name="custom_meal" placeholder="Type any custom meal to add" required>
                <input type="submit" id="add-custom-meal" value = "Add Custom Habit"/>
            </form>
            <button type="button" id="weekly-view"><a href="/habits/weeklyView">Show Weekly View</a></button>
        </div>
        
        <h2>Log the status of your habits on <%=currdate%></h2>

        <div id="habits-div">
            <%for(let habit of habits){%>
                <div id="user-habits">
                    <%var status="None"%>
                    <%for(let habitstatus of habit.status){%>

                        <%if(habitstatus.datestring==currdate){%>

                                
                            <%status=habitstatus.habitstatus%>
                            
                            <%break%>

                        <%}%>

                        

                    <%}%>
                    
                    <h4><%=habit.name%></h4>
                    <select name="habit-status" class="habit-status-dropdown" id=<%=habit._id%> >


                        <option value="None" <% if (status === "None") { %>selected<% } %>>None</option>
                        <option value="Done" <% if (status === "Done") { %>selected<% } %>>Done</option>
                        <option value="Not Done" <% if (status === "Not Done") { %>selected<% } %>>Not Done</option>
                        
                    </select>
                    <button type="button" id="<%=habit._id%>"><a href="/habits/deleteHabit/<%=habit._id%>">Delete Habit</a></button>
                </div>
            <%}%>

        </div>
            

        <script src="/js/home.js"></script>
          
          
          
          
          
          
          